.product {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--tg-theme-button-color);
	padding: 15px;
	width: 170px;
}

.img {
	border-radius: 50%;
	width: 140px;
	background: lightgray;
	height: 140px;
	margin: 0 auto;
	background: var(--tg-theme-button-color);
}

.description {
	font-size: 12px;
}

.add-btn {
	width: 100%;
}
